---
import Button from "@components/Button.astro";
import myImage from "@assets/me.png";
import { Picture, Image } from "@astrojs/image/components";
import AppearingText from "@components/AppearingText/AppearingText.astro";
import AppearingLine from "@components/AppearingText/AppearingLine.astro";
import SocialLinks from "@components/SocialLinks.astro";
---

<section
	class="section relative flex flex-col justify-between gap-12 md:flex-row relative text-primary-50 glass-backdrop"
>
	<div class="w-50% min-w-80 max-w-5xl ml-auto hidden md:block">
		<Picture
			src={myImage}
			alt="Picture of me"
			fit="contain"
			aspect-ratio="1:20"
			sizes="(min-width: 768px) 320px, (min-width:1428px) 500px, 700px"
			widths={[320,500,700]}
			class="sticky top-4 object-contain rounded-100% md:(top-8 max-h-80vh max-w-min w-full)"
		/>
	</div>
	<AppearingText
		as="article"
		wordTimings={[]}
		class="flex flex-col flex-shrink align-end text-center prose md:(text-right basis-full)"
	>
		<AppearingLine
			as="h2"
			class="text-subtitle-1 mix-blend-difference"
			text="Nice to meet you!"
		/>
		<div class="md:hidden max-w-50 mx-auto mb-12">
			<Image
				src={myImage}
				alt="Picture of me"
				aspect-ratio="1:1"
				width={200}
				fit="contain"
				class="rounded-full"
			/>
		</div>
		<AppearingLine
			class="text-subtitle-4 text-left mix-blend-difference my-0"
			text="My name is Marcin and I am a Web Developer with a UX/UI side."
		/>
		<p class="text-subtitle-4 text-left mix-blend-difference mt-0">
			<AppearingLine as="span" text="My goal is to deliver " />
			<AppearingLine as="strong" text="functional, " />
			<AppearingLine as="strong" text="simple" />
			<AppearingLine as="span" text=" and " />
			<AppearingLine as="strong" text="creative" />
			<AppearingLine as="span" text=" websites that will catch your eye." />
		</p>
		<AppearingLine
			class="text-body text-left mix-blend-difference"
			text="As a passionate freelancer in the ever-evolving world of web development, I take immense pride in crafting digital experiences that not only look stunning but also provide seamless navigation and intuitive interactions."
		/>
		<AppearingLine
			class="text-body text-left mix-blend-difference"
			text="I believe that the key to successful web design lies in finding the perfect balance between aesthetics and functionality."
		/>
		<AppearingLine
			class="text-subtitle-4 mb-0 text-left mix-blend-difference"
			text="Collaboration is at the heart of my process. I believe in working closely with my clients, understanding their unique needs, and keeping them involved throughout the development journey. This transparent and communicative approach allows me to translate their vision into reality and ensures that the final product not only meets expectations but surpasses them."
		/>
		<p class="text-subtitle-3 mb-0 text-right mix-blend-difference">
			<AppearingLine as="span" text="Now, wanna make some" />
			<AppearingLine as="strong" text="good shit?" />
		</p>
		<nav
			class="ml-auto flex-center flex-wrap sm:justify-end gap-2 my-8 menu-opafocus opafocus-max-opacity-100 opafocus-min-opacity-80"
		>
			<SocialLinks />
			<Button
				as="a"
				href="#contact"
				wordTimings={[]}
				text="Contact me!"
				class="max-w-max font-black text-right"
			>
				<div slot="before" class="i-mingcute-message-3-fill w-8 h-8"></div>
			</Button>
		</nav>
	</AppearingText>
</section>
