---
type Props = { label: string; for: string };
const { label, for: forId } = Astro.props;
---

<div
	flex="~ col"
	class="input-wrapper dialog transition-interactive mix-blend-difference"
>
	<label class="opacity-50 text-primary-50 font-label" for={forId}
		>{label}</label
	>
	<slot />
</div>

<style is:global lang="scss">
	.input-wrapper {
		textarea,
		input {
			outline: none;
		}
		&:focus-within {
			outline: 2px solid theme("colors.primary.400");
		}
	}
</style>
