---
import { getCollection, getEntryBySlug } from "astro:content";
import Technologies from "@components/Technologies.astro";
import AppearingLine from "@components/AppearingText/AppearingLine.astro";
import sortTechnologies from "@utils/sortTechnologies";
import partition from "lodash/partition";
import chunk from "lodash/chunk";



const techCollection = await getCollection(
	"technologies",
);

const technologies = sortTechnologies(
	await Promise.all(
		techCollection.map(({ slug }) => getEntryBySlug("technologies", slug))
	)
);

const techsArr = partition(
	technologies,
	({ data }) => data.importance < 10
).flatMap((arr) => chunk(arr, 5));

---

{
	!!technologies.length && (
		<section class="section block relative overflow-hidden max-w-full prose">
			<article
				class="w-full glass-backdrop pt-4 pb-6 text-center"
				data-scroll-target-ref
			>
					<AppearingLine
						as="h2"
						text="Skills"
						class="text-subtitle-2 mb-20 mx-auto"
					/>
				<div class="flex flex-wrap gap-8">
					{techsArr.map((tech) => {
						return (
							<Technologies
								entries={tech}
								defaultColor="white"
								class="justify-center flex-col mx-auto"
								chipClass="grayscale-50 md:grayscale-75 md:hover:grayscale-0 list-none motion-safe:transition-filter-600"
							/>
						);
					})}
				</div>
			</article>
		</section>
	)
}
