---
import type { Tabs } from "@/types";
import Button from "@components/Button/Button.astro";
import { scrollVelocityTransform } from "@plugins/scrollVelocityTransform/serverUtils";

interface Props {
	tabs: Tabs;
}
export type TabsProps = Props;

const { tabs } = Astro.props;
const tabsEntries = Object.entries(tabs);
---

<header class="text-label color-white text-right">
	<nav>
		<toggled-menu class="block">
			<Button
				class="z-1000 fixed mix-blend-difference top-0 right-0 max-w-max mt-4 mr-4 mb-8 -translate-y-50 motion-safe:transition-transform hover:text-accent-200 focus-visible:text-accent-200"
				visualType="outline"
				size="small"
				data-menu-toggle
				title="menu"
				aria-expanded="false"
				{...scrollVelocityTransform(2)}
			>
				<div class="i-mingcute-menu-line?mask"></div>
			</Button>
			<div
				class="z-1000 color-primary-950 fixed rounded-l-2 overflow-hidden top-20 right-0 bottom-0 max-h-50 p-4 glass-backdrop transform-origin-r shadow transform-gpu scale-0 -translate-y-20 md:-translate-y-60 motion-safe:transition-transform-300"
				data-expanded-class="important:transform-none"
			>
				<ul class="flex flex-col justify-between h-full">
					{
						tabsEntries.map(([_, { id, label }]) => (
							<li {...scrollVelocityTransform(5)} class="motion-safe:transition-transform">
								<a
									is="nav-tab"
									class="capitalize animated-underline animated-underline-right font-light"
									href={`#${id}`}
									data-tab-active-class="before:scale-x-100"
								>
									{label}
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</toggled-menu>
	</nav>
</header>

<script>
	import { motionSafeMedia } from "@/constants";
	import "./TabElement";
	import "@components/_CustomElements/Menu";
	import { scroll } from "motion";

	const toggleButton = document.querySelector<HTMLElement>("header button");
	if (toggleButton) {
		if (motionSafeMedia.matches) {
			scroll(({ y }) => {
				if (y.current < 100) toggleButton.classList.add("-translate-y-50");
				else toggleButton.classList.remove("-translate-y-50");
			});
		}
	}
</script>

<style lang="scss">
	// TODO: replace with unocss rule
	.animated-underline {
		@apply relative before:(pseudo-full top-auto w-full h-0.1em scale-x-0) hover:before:scale-x-100 focus-visible:before:scale-x-1 motion-safe:before:transition-transform;

		&::before {
			background-color: var(--underline-color, currentColor);
			transform-origin: var(--underline-origin, center bottom);
		}
	}
</style>
