---
import AppearingTextButton from "@components/AppearingText/AppearingTextButton";
import { mainpageTabs } from "src/constants";
import { classInView } from "@plugins/classInView/serverUtils";

const appear = classInView("appear-container", "", 1);
---

<section
	id={mainpageTabs.play.id}
	class="section relative py-40 flex-center before:(pseudo-full bg-primary-950 -z-3) after:(pseudo-full bg-primary-950 opacity-75 -z-1)"
>
	<div {...appear}>
		<AppearingTextButton
			client:visible
			classOverride="appear-item circle-button motion-safe:transition-600 relative text-accent-100 backdrop-blur border-current border-2 border-dotted transition-interactive before:(pseudo-full -inset-5 rounded-full bg-current brightness-20 opacity-50 -z-1)"
			iconClass="w-8 h-8"
			direction="column"
			mainLabel="Play website!"
		/>
	</div>
</section>

<style>
	.appear-container .appear-item {
		@apply rotate-135 scale-0;
	}
</style>
