---
import ImagesCheckboard from "./_ImagesCheckboard.astro";
import type { ImageString } from "src/utilTypes/image";

type Props = {images: ImageString[]}
const {images} = Astro.props
---


	<div class="absolute inset-0 z-6 clip-full pointer-events-none">
		<div class="fixed top-20vh bottom-4 left-4 right-4 lg:(right-36 left-36 bottom-8) flex justify-center">
			<ImagesCheckboard
				images={[...images].reverse()}
				class="justify-end"
				imageProps={{ "data-scroll-target": true }}
			/>
		</div>
	</div>
		<div class="absolute inset-0 top-50% flex flex-col-reverse invisible">
			{images.map(()=><div class='w-20 bg-red flex-grow-1' data-scroll-target-ref/>)}
		</div>


<script>
	import importInView from "@utils/importInView/importInView"
	importInView("scroll-reference",()=>import("@components/_CustomElements/ScrollReference"))
	</script>