---
import SectionClip from "@components/SectionClip.astro";
import Technologies, {
	TechnologiesProps,
} from "@components/Technologies.astro";
import classNames from "classnames";
interface Props extends TechnologiesProps {
	isTopSpacing?: boolean;
}
const { isTopSpacing, ...props } = Astro.props;
---

<SectionClip class={classNames("h-150 w-full relative", isTopSpacing && "mt-200")}>
	<div
		class="fixed bottom-12 left-0 right-0 mt-auto pt-4 mb-4 flex justify-center"
	>
		<Technologies {...props} />
	</div>
</SectionClip>
