---
import { mainpageTabs } from "src/constants";
import SectionLink from "./_SectionLink.astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"nav"> {
	website?: string;
	github?: string;
}

const { github, website, class: className, ...other } = Astro.props;
---

<nav
	{...other}
	class:list={[
		"pointer-events-auto flex-center relative gap-2 menu-opafocus 2xl:(flex-row items-center)",
		className,
	]}
>
	{
		website && (
			<SectionLink
				href={website}
				label="website"
				iconClass="i-mingcute-earth-line"
			/>
		)
	}
	{
		github && (
			<SectionLink
				href={github}
				label="github"
				iconClass="i-mingcute-github-fill"
			/>
		)
	}
	<SectionLink
		href={`#${mainpageTabs.contact.id}`}
		label="Contact"
		wrapperClass="text-xs"
		iconClass="i-mingcute-message-3-fill"
	/>
</nav>
