---
import AppearingLine from "@components/AppearingText/AppearingLine.astro";

import type { HTMLAttributes } from "astro/types";

interface Props extends Omit<HTMLAttributes<"div">, "title"> {
	title: string;
}
const { title, class: className, ...other } = Astro.props;
---
<div class="fixed top-0 left-0 right-0 pt-font-4xl pb-font-3xl bleed z-5"/>
<div class:list={["sticky top-font-4xl pt-4 z-5 pb-4 bleed", className]} {...other}>
	<AppearingLine
		as="h3"
		text={title}
		class="text-subtitle-2 mix-blend-difference"
		group="title"
	/>
</div>
