---
import SectionLink from "./_SectionLink.astro";

interface Props {
	website?: string;
	github?: string;
}

const { github, website } = Astro.props;
---

<div class="relative h-max">
	<div
		class="absolute -inset-4 overflow-hidden before:(pseudo-full bleed -z-1)"
	>
	</div>
	<nav
		class="pointer-events-auto flex flex-col items-end h-max relative gap-2 menu-opafocus 2xl:(flex-row items-start)"
	>
		<SectionLink
			href="#contact"
			labelShort="Call me"
			label="help me make more!"
			wrapperClass="text-xs"
			iconClass="i-mingcute-message-3-fill"
		/>
		{
			website && (
				<SectionLink
					href={website}
					label="website"
					iconClass="i-mingcute-earth-line"
				/>
			)
		}
		{
			github && (
				<SectionLink
					href={github}
					label="github"
					iconClass="i-mingcute-github-fill"
				/>
			)
		}
	</nav>
</div>
