---
import type {HTMLAttributes} from "astro/types";

type Props = HTMLAttributes<"div">

const {class:className,...other} = Astro.props;
---
	<div class:list={["fixed inset-0", className]} {...other}>
		<slot/>
	</div>