---
import AppearingLine from "../AppearingText/AppearingLine.astro";
interface Props {
	startYear: number;
	endYear?: number;
}
const { startYear, endYear } = Astro.props;

---

<p
	class="pointer-events-auto text-lg font-leading-80% text-center mx-auto font-serif flex-center motion-safe:transition-600"
>
	<AppearingLine as="span" text={`${startYear}`} ignoreAudio />
	{
		!!endYear && startYear !== endYear && (
			<>
				<AppearingLine
					as="span"
					text="-"
					ignoreAudio
				/>
				<AppearingLine
					as="span"
					text={`${endYear}`}
					ignoreAudio
				/>
			</>
		)
	}
</p>
