---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...other } = Astro.props;
---

<div class:list={["absolute inset-0 clip-full", className]} {...other}>
	<slot />
</div>
