---
import SectionLink from "./_SectionLink.astro"

interface Props{
	website?: string;
	github?: string;
}

const {github,website} = Astro.props
---

<nav class="flex fixed z-100 w-max gap-4 menu-opafocus top-15 mt-font-4xl mr-4 right-4 sm:(top-font-4xl mt-2) lg:right-16">
	<div class="absolute -inset-3 overflow-hidden before:(pseudo-full bleed)"/>
	{website && (
		<SectionLink href={website} label="website" iconClass='i-mingcute-earth-line mix-blend-difference'/>
		)}
	{github && (
		<SectionLink href={github} label="github" iconClass='i-mingcute-github-fill mix-blend-difference'/>
	)}
</nav>