---
import DynamicText from "@components/DynamicText.astro";

import type {HTMLAttributes} from "astro/types"
import type { DynamicTextT } from "src/utilTypes/text";

interface Props extends HTMLAttributes<"div"> {
	text: DynamicTextT;
}
const { text, class:className } = Astro.props;
---

<div class:list={["sticky top-0 pt-font-4xl z-5 pb-4", className]}>
	<DynamicText
		tag="h3"
		text={text}
		class="text-subtitle-2 mix-blend-difference"
	/>
</div>
