---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...other } = Astro.props;
const descClass = [
	"text-body prose appear-item transition-transform-10000",
	className,
];

---

<div
	class="text-balance flex-col-center justify-center items-center prose h-max text-center mx-auto mt-25 max-w-full right-4 left-4 bottom-4 top-0 motion-safe:transition-300 lg:(right-36 left-36 bottom-8)"
>
	<div
		{...other}
		data-scroll-target-keyframes={JSON.stringify({
			transform: ["translate3d(0,300px,0) scale3d(0,0,0)", "none", null],
			opacity: [0, 0, 1, 0, 0],
		})}
		data-scroll-target
		data-scroll-target-ref
		class:list={descClass}
	>
		<slot />
	</div>
</div>
