---
import AppearingLine from "@components/AppearingText/AppearingLine.astro";
import SectionFixed from "@components/SectionFixed.astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
	text?: string;
}

const { text, class: className, ...other } = Astro.props;
const descClass = ["text-body prose", className];
---

<SectionFixed
	class="z-200 text-balance flex-col-center justify-center items-center prose h-max m-auto text-center max-w-full right-4 left-4 bottom-4 top-0 lg:(right-36 left-36 bottom-8)"
	data-scroll-target
>
	<!-- TODO: FIX TYPE -->{
		text ? (
			text
				.split("\n")
				.map((t) => (
					<AppearingLine
						{...(other as any)}
						text={t}
						class={descClass}
						group="description"
					/>
				))
		) : (
			<div class:list={descClass}>
				<slot />
			</div>
		)
	}
</SectionFixed>
<div
	class="w-full h-600"
	data-scroll-target-ref
	data-scroll-ref-offsets="start end 0.5 0.5"
>
</div>
