---
import { scrollVelocityTransform } from "@/plugins/scrollVelocityTransform/serverUtils";
import SectionClip from "@components/SectionClip.astro";
import Technologies, {
	type TechnologiesProps,
} from "@components/Technologies.astro";
import classNames from "classnames";

interface Props extends TechnologiesProps {
	isTopSpacing?: boolean;
}

const { isTopSpacing, entries, ...props } = Astro.props;

const techChips = entries.map((e) => {
	return { ...e, style: { "flex-basis": `${50 / e.data.importance}%` } };
});
---

<SectionClip
	class={classNames("h-150 w-full relative", isTopSpacing && "mt-200")}
>
	<div
		class="fixed bottom-4 left-4 right-4 mt-auto pt-4 mb-4 flex justify-center"
	>
		<Technologies
			{...props}
			entries={techChips}
			class="justify-center motion-safe:transition-transform"
			{...scrollVelocityTransform(25)}
		/>
	</div>
</SectionClip>
