---
import { Picture } from "@astrojs/image/components";
// import SectionClip from "@components/SectionClip.astro";
// import SectionFixed from "@components/SectionFixed.astro";
import type { ImageString } from "src/utilTypes/image";
import resolveImageImport from "@utils/resolveImageImport";

type Props = { images: ImageString[]; floatingImages?: ImageString[] };
const { images } = Astro.props;
---

<ul class="w-full flex-col-center gap-8 lg:gap-0 mt-100 mb-16 isolate">
	{
		images.map(([name, alt], i, { length }) => {
			return (
				<li
					class="w-full"
					data-scroll-target-ref
					data-scroll-ref-offsets=".1 .5"
				>
					<Picture
						style={{ "z-index": length - i }}
						src={resolveImageImport(name)}
						alt={alt || ""}
						fit="contain"
						sizes="(max-width: 768px) 768px, (max-width:1428px) 1428px, (max-width:1920px) 1920px, (max-width:3840px) 3840px"
						widths={[768, 1428, 1920, 3840]}
						class="mx-auto max-w-full rounded-2xl max-h-screen important:max-h-100svh object-contain solid-shadow color-dark color-opacity-20"
						data-scroll-target
						data-scroll-target-keyframes={JSON.stringify({
							transform: [
								"rotate3d(1,1,0,45deg)",
								"none",
								"none",
								"rotate3d(-1,1,0,45deg)",
							],
							opacity: [0,1, 1, 1,1, 0],
						})}
					/>
				</li>
			);
		})
	}
</ul>
