---
interface Props{
	startYear: number;
	endYear?: number;
}
const {startYear,endYear} = Astro.props
---
<div class="relative isolate overflow-hidden h-max before:(pseudo-full bleed -z-1)">
	<p class="pointer-events-auto text-lg font-leading-80% font-serif flex flex-col md:flex-row">
		<span>{startYear}</span>
		{
			!!endYear && startYear !== endYear && (
				<>
					<span>-</span>
					<span>{endYear}</span>
				</>
			)
		}
	</p>
</div>