---
interface Props{
	images: unknown[];
}
const {images} = Astro.props
---

<div
	class="flex flex-col-reverse h-screen"
	aria-hidden="true"
>
	{images.map(() => <div class="flex-grow-1 w-40  bg-orange" data-scroll-target-ref data-scroll-ref-offsets="0.5" />)}
</div>