---
import AppearingLine from "@components/AppearingText/AppearingLine.astro";

import type { HTMLAttributes } from "astro/types";

interface Props extends Omit<HTMLAttributes<"div">, "title"> {
	title: string;
}
const { title, class: className = "bleed", ...other } = Astro.props;
---

<div class:list={["sticky top-0 pt-font-4xl z-5 pb-4", className]} {...other}>
	<AppearingLine
		tag="h3"
		text={title}
		class="text-subtitle-2 mix-blend-difference"
		group="title"
	/>
</div>
