---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"div"> {
	images: unknown[];
}
const { images, class: className, ...other } = Astro.props;
---

<div
	{...other}
	class:list={["flex flex-col-reverse h-screen invisible", className]}
	aria-hidden="true"
>
	{
		images.map(() => (
			<div
				class="flex-grow-1 transition"
				data-scroll-target-ref
				data-scroll-ref-offsets="0.5"
			/>
		))
	}
</div>
