---
import AppearingLine from "@components/AppearingText/AppearingLine.astro";
import SectionClip from "@components/SectionClip.astro";
import SectionFixed from "@components/SectionFixed.astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
	text?: string;
}

const { text, class: className, ...other } = Astro.props;
const descClass = ["text-body mt-6", className];
---

<SectionClip
	class="w-full h-200 z-4 bleed"
	data-scroll-target-ref
	data-scroll-ref-offsets="start end 0.5 0.5"
>
	<SectionFixed class="flex justify-center items-center mix-blend-difference" data-scroll-target>
		<!-- TODO: FIX TYPE -->{
			text && (
				<AppearingLine
					{...(other as any)}
					text={text}
					class:list={descClass}
					group="description"
				/>
			)
		}
		{
			!text && (
				<div class:list={[...descClass, "bleed"]}>
					<slot />
				</div>
			)
		}
	</SectionFixed>
</SectionClip>
