---
import type { HTMLAttributes } from "astro/types";
import SectionTitle from "./_SectionTitle.astro"

interface Props extends HTMLAttributes<"div">{
	title:string;
}

const { class: className, title, ...other } = Astro.props;
---

<section class:list={["section bg-primary-50", className]} {...other}>
	<div class="text-primary-100 text-center pt-4">
		<SectionTitle title={title}/>
		<slot/>
	</div>
</section>
