---
import AppearingLine from "@components/AppearingText/AppearingLine.astro";
import SectionClip from "../../SectionClip.astro";
import SectionFixed from "../../SectionFixed.astro";
import waypoints from "@components/ThreeScene/modules/waypoints/waypointsServerApi";
import { classInView } from "@/plugins/classInView/serverUtils";

const appearInView = classInView("opacity-0 scale-0", "opacity-100 scale-100");
---

<SectionClip
	as="section"
	class="section h-screen min-h-md text-center"
	{...waypoints.foxWaypointCameraSpatial(3.316, 1.264, -0.321).waypoint()}
	{...waypoints.foxWaypointTarget(0.5, -0.3, -1).waypoint()}
	{...waypoints.foxWaypointStiffness(1, 1).waypoint()}
>
	<SectionFixed
		as="h2"
		class="top-0vh bottom-0vh important:(top-0lvh bottom-0lvh) flex flex-col items-center justify-between"
	>
		<span class="flex-col-center" {...appearInView}>
			<AppearingLine
				as="span"
				class="text-title-1 solid-text-shadow motion-safe:transition-600 motion-safe:animate-appear"
				text="My Website"
				lettersTransition
				{...appearInView}
			/>
			<AppearingLine
				as="span"
				class="text-title-2 solid-text-shadow motion-safe:transition-600 motion-safe:animate-appear important:(animate-duration-600)"
				text="My choice"
				lettersTransition
				{...appearInView}
			/>
		</span>
		<span class="flex-col-center" {...appearInView}>
			<AppearingLine
				as="span"
				class="text-title-2 solid-text-shadow motion-safe:transition-600 motion-safe:animate-appear important:(animate-duration-600)"
				text="Your website"
				lettersTransition
				{...appearInView}
			/>
			<AppearingLine
				as="span"
				class="text-title-1 solid-text-shadow motion-safe:transition-600 motion-safe:animate-appear "
				text="Your choice"
				lettersTransition
				{...appearInView}
			/>
		</span>
	</SectionFixed>
</SectionClip>
