---
import AppearingLine from "@components/AppearingText/AppearingLine.astro";
import SectionClip from "../../SectionClip.astro";
import SectionFixed from "../../SectionFixed.astro";
import waypoints from "@components/ThreeScene/modules/waypoints/waypointsServerApi";
---

<SectionClip
	as="section"
	class="section h-screen min-h-md text-center"
	{...waypoints.foxWaypointCameraSpatial(3.316, 1.264, -0.321).waypoint()}
	{...waypoints.foxWaypointTarget(0.5, -0.3, -1).waypoint()}
	{...waypoints.foxWaypointStiffness(1, 1).waypoint()}
>
	<SectionFixed
		as="h2"
		class="top-0dvh bottom-0dvh flex flex-col items-center justify-between"
	>
		<span class="flex-col-center">
			<AppearingLine
				as="span"
				class="text-title-1"
				text="My Website"
				animatedInitially
			/>
			<AppearingLine
				as="span"
				class="text-title-2"
				text="My choice"
				animatedInitially
			/>
		</span>
		<span class="flex-col-center">
			<AppearingLine
				as="span"
				class="text-title-2"
				text="Your website"
				animatedInitially
			/>
			<AppearingLine
				as="span"
				class="text-title-1"
				text="Your choice"
				animatedInitially
			/>
		</span>
	</SectionFixed>
</SectionClip>
