---
import {
	foxWaypointCameraSpatial,
	foxWaypointTarget,
	foxWaypointCamera,
} from "@components/ThreeScene/modules/elementWaypoints/constants";
import SectionClip from "../../SectionClip.astro";
import SectionFixed from "../../SectionFixed.astro";
import { createWaypoint } from "@components/ThreeScene/modules/elementWaypoints/elementWaypointsServer";
---

<SectionClip
	as="section"
	class="section h-screen min-h-md text-center mix-blend-difference text-primary-200"
	{...createWaypoint(foxWaypointCameraSpatial, 0, 0, 0)}
	{...createWaypoint(foxWaypointTarget, 0, 0, 0)}
	{...createWaypoint(foxWaypointCamera, 0, 0, 0)}
>
	<SectionFixed class="flex flex-col items-center justify-between">
		<div>
			<h2 text-title-1>My Website</h2>
			<h2 text-title-2>My choice</h2>
		</div>
		<div>
			<h3 text-title-2>Your website</h3>
			<h3 text-title-1>Your choice</h3>
		</div>
	</SectionFixed>
</SectionClip>
