---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"form">;
const { class: className, ...props } = Astro.props;
---

<form
	netlify
	{...props}
	name="contact"
	method="post"
	action="#"
	class:list={["flex flex-col gap-4 w-full lg:(w-40% max-w-xl)", className]}
>
	<slot />
</form>

<script>
	import getFoxController from "@/components/ThreeScene/foxApi";
	import toast from "solid-toast";

	const foxController = getFoxController();

	const form = document.querySelector("form[name='contact']");
	if (!form) throw new Error("No form found");

	form.addEventListener("submit", async (event) => {
		const e = event as SubmitEvent;
		e.preventDefault();
		const activeElement = document.activeElement as HTMLElement | null;
		activeElement?.blur();

		const submitter = e.submitter as HTMLButtonElement;
		submitter.disabled = true;

		const myForm = e.target as HTMLFormElement;
		const formData = new FormData(myForm);

		fetch("/", {
			method: "POST",
			headers: { "Content-Type": "application/x-www-form-urlencoded" },
			body: new URLSearchParams(formData as any).toString(),
		})
			.then(() => {
				toast.success("Thank you! I have received your message ðŸ˜");
			})
			.catch((error) => {
				toast.error(error + "");
			})
			.finally(() => {
				prepareToUnlockButton(submitter);
			});

		foxController
			?.then(({ foxAnimations }) => {
				foxAnimations.then((fox) => fox?.smile());
			})
			.catch(() => {});
	});

	function prepareToUnlockButton(submitter: HTMLButtonElement) {
		setTimeout(() => {
			submitter.disabled = false;
		}, 5000);
	}
</script>
