---
import SectionClip from "@components/SectionClip.astro";
import SectionFixed from "@components/SectionFixed.astro";
import Input from "@components/Input/Input.astro";
import TextArea from "@components/Input/TextArea.astro";
import Button from "@components/Button/Button.astro";
import ContactInputContainer from "./ContactInputContainer.astro";
import AppearingLine from "@components/AppearingText/AppearingLine.astro";
import waypoints from "@components/ThreeScene/modules/waypoints/waypointsServerApi";
import { forceFocusViewAttrObj } from "@plugins/forceFocusView/constants";

const md = 768;
const waypointsData = {
	...waypoints
		.foxWaypointCameraSpatial(3, 1.5, -0.421)
		.addBreakpoint(md, 2, 1.5, -0.421)
		.waypoint(),
	...waypoints
		.foxWaypointTarget(0, -1, 0)
		.addBreakpoint(md, 1, -0.5, 0)
		.waypoint(),
	...waypoints.foxWaypointStiffness(3, 4).waypoint(),
};
---

<section
	id="contact"
	class="min-h-screen text-primary-50 relative text-right before:(pseudo-full bg-primary-950 -z-3)"
	data-static-h="100vh"
	data-static-h-type="min"
	{...waypointsData}
	{...forceFocusViewAttrObj}
>
	<SectionClip class="absolute inset-0">
		<SectionFixed
			class="section inset-4 justify-end items-center md:items-end -z-3"
		>
			<ContactInputContainer>
				<AppearingLine as="h2" text="Contact me!" class="text-subtitle-1" />
				<Input
					name="name"
					id="contact-name"
					label="name"
					wrapperClass="bg-primary-950"
					required
				/>
				<Input
					id="contact-email"
					name="email"
					label="email"
					type="email"
					wrapperClass="bg-primary-950"
					required
				/>
				<TextArea
					id="contact-message"
					label="message"
					name="message"
					wrapperClass="bg-primary-950"
					required
					minlength={10}
					maxlength={1000}
				/>
				<Button type="submit" visualType="outline">Submit</Button>
			</ContactInputContainer>
		</SectionFixed>
	</SectionClip>
</section>
