---
import { threeCanvasId } from "./constants";
---

<div class="inset-0 fixed -z-2">
	<canvas id={threeCanvasId}></canvas>
</div>
<script>
	requestIdleCallback(() => {
		import("./init").then(({ init }) => init());
	});
</script>
