---
import { threeCanvasId } from "./constants";
---

<div class="inset-0 fixed -z-2">
	<canvas
		class="motion-safe:transition-opacity motion-safe:duration-500 opacity-0"
		id={threeCanvasId}></canvas>
</div>
<script>
	import "./fox";
</script>
