---
import Layout from "@layouts/Layout.astro";
---

<Layout>
	<div data-taxi-view w-full>
		<section class="section h-screen flex items-center justify-end">
			<h1 class="text-right col-start-2 col-end-3 uppercase font-extrabold">
				<span block text-3xl>Marcin</span>
				<span block text-2xl text-gray-6>Łukasz</span>
				<span block text-4xl>Smarzewski</span>
			</h1>
		</section>
	</div>
</Layout>
