---
import Footer from "@components/Footer.astro";
import ThreeScene from "@components/ThreeScene/ThreeScene.astro";
import Layout from "@layouts/Layout.astro";
import Projects from "@components/_Organisms/Projects/Projects.astro";
import HeroSection from "@components/_Organisms/HeroSection/HeroSection.astro";
import OtherTechnologies from "@/components/_Organisms/TechnologiesSection/TechnologiesSection.astro";
import ContactSection from "@components/_Organisms/ContactSection/ContactSection.astro";
import AboutMe from "@components/_Organisms/AboutMe/AboutMe.astro";
import { Toaster } from "solid-toast";
import { mainpageTabs } from "src/constants";
import PlayStagesSection from "@/components/_Organisms/PlayStagesSection/PlayStagesSection.astro";
import {  foxObstacleAttrObj } from "@/components/ThreeScene/constants";
---

<Layout tabs={mainpageTabs}>
	<div data-taxi-view class="w-full">
		<div {...foxObstacleAttrObj} class="h-200vh w-full bg-orange"></div>
		<Toaster
			client:idle
			position="bottom-left"
			toastOptions={{
				className: "text-primary-950",
			}}
		/>
		<ThreeScene />
		<HeroSection />
		<PlayStagesSection />
		<AboutMe />
		<Projects />
		<OtherTechnologies />
		<ContactSection />
		<Footer />
	</div>
</Layout>
