---
import AppearingText from "@components/AppearingText.astro";
import Layout from "@layouts/Layout.astro";
const text =
	"We have a fantastic little sky! Let's put some happy little bushes on the other side now. Take your time. Speed will come later. Look at them little rascals. That's a crooked tree. We'll send him to Washington. You can create anything that makes you happy. Just let go - and fall like a little waterfall. We must be quiet, soft and gentle. We don't have anything but happy trees here. Let's build some happy little clouds up here. I thought today we would do a happy little picture. We need dark in order to show light. That's a son of a gun of a cloud. Maybe there's a happy little bush that lives right there. Maybe we got a few little happy bushes here, just covered with snow. We'll put all the little clouds in and let them dance around and have fun. Only God can make a tree - but you can paint one. This is a fantastic little painting. Didn't you know you had that much power? You can move mountains. You can do anything. You can create beautiful things - but you have to see them in your mind first. I was blessed with a very steady hand; and it comes in very handy when you're doing these little delicate things. A big strong tree needs big strong roots. Volunteering your time; it pays you and your whole community fantastic dividends. Just make little strokes like that. Maybe there's a little something happening right here. Van Dyke Brown is a very nice brown, it's almost like a chocolate brown. We'll have a super time. Use what happens naturally, don't fight it.";
const textMock = text.split(" ").reduce((acc, word, i) => {
	if (!word.trim()) return acc;
	const lastWordEnd = acc[i - 1]?.[2] || 0;
	const lastChar = word.at(word.length - 1)!;
	const isEndSentence = /[.?!]/.test(lastChar);
	const beginAt = lastWordEnd;
	const additionalEnd = isEndSentence ? 500 : 200;
	const endAt = beginAt + word.length * 50 + additionalEnd;
	acc.push([endAt - beginAt, `${word} `, endAt]);
	return acc;
}, [] as [number, string, number][]);
---

<Layout>
	<div data-taxi-view w-full>
		<section class="section items-end">
			<h2 text-5xl font-extrabold>
				Hi, I'm <span>Marcin!</span>
			</h2>
			<h3 text-4xl font-extrabold>
				A <span>Web Developer</span>
			</h3>
		</section>
		<section class="section">
			<h2 text-xl font-bold>Testing</h2>
			<AppearingText text={textMock} />
		</section>
	</div>
</Layout>
