---
import Footer from "@components/Footer.astro";
import ThreeScene from "@components/ThreeScene/ThreeScene.astro";
import Layout from "@layouts/Layout.astro";
import Projects from "@components/_Organisms/Projects/Projects.astro";
import HeroSection from "@components/_Organisms/HeroSection/HeroSection.astro";
import OtherTechnologies from "@components/_Organisms/OtherTechnologies/OtherTechnologies.astro";
import ContactSection from "@components/_Organisms/ContactSection/ContactSection.astro";
import AboutMe from "@components/_Organisms/AboutMe/AboutMe.astro";
import { Toaster } from "solid-toast";
import AppearingTextButton from "@components/AppearingText/AppearingTextButton";
---

<Layout>
	<div data-taxi-view class="w-full">
		<Toaster
			client:idle
			position="bottom-left"
			toastOptions={{
				className: "text-primary-950",
			}}
		/>
		<ThreeScene />
		<HeroSection />
		<section class="section relative py-40 flex-center before:(pseudo-full bg-primary-950 -z-3) after:(pseudo-full bg-primary-950  opacity-75 -z-1)">
				<AppearingTextButton
					client:visible
					classOverride="circle-button relative text-accent-100 backdrop-blur border-current border-2 transition-interactive before:(pseudo-full -inset-5 rounded-full bg-current brightness-20 opacity-50 -z-1)"
					iconClass="w-8 h-8"
					direction="column"
					mainLabel="Play website!"
				/>
		</section>
		<AboutMe />
		<Projects />
		<OtherTechnologies />
		<ContactSection />
		<Footer />
	</div>
</Layout>
