---
import type { GetStaticPaths } from "astro";
import Footer from "@components/Footer.astro";
import ThreeScene from "@components/ThreeScene/ThreeScene.astro";
import Layout from "@layouts/Layout.astro";
import ContactSection from "@components/_Organisms/ContactSection/ContactSection.astro";
import { Toaster } from "solid-toast";
import { dialogTabs } from "src/constants";
import getServicesContent from "@/utils/getServicesContent";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import AppearingLine from "@/components/AppearingText/AppearingLine.astro";
import { supportedLanguages } from "@/i18n/constants";
import Services from "@/components/_Organisms/Services/Services.astro";

export const getStaticPaths = (() => {
	return supportedLanguages.map((lang) => ({ params: { lang } }));
}) satisfies GetStaticPaths;

const lang = getLangFromUrl(Astro.url);
const services = await getServicesContent(lang);
const t = useTranslations(lang);
---

<Layout tabs={dialogTabs}>
	<div data-taxi-view class="w-full">
		<Toaster
			client:idle
			position="bottom-left"
			toastOptions={{
				className: "text-primary-950",
			}}
		/>
		<ThreeScene />
		<Services class="pb-36"/>
		<!-- <section class="section bg-orange-50">
			<div class="prose">
				<AppearingLine as="h1" class="text-title-1" text={t("sections.services")} />
				{
					services.map(async ({ data, render }) => {
						const { Content } = await render();
						return <Content />;
					})
				}
			</div>
		</section> -->
		<ContactSection />
		<Footer />
	</div>
</Layout>
