---
import { languages, supportedLanguages } from "@/i18n/constants";
import {
	getLangFromUrl,
	getTargetLangUrl,
	useTranslations,
} from "@/i18n/utils";

import ListTitle from "./ListTitle.astro";
const pageLang = getLangFromUrl(Astro.url);
const t = useTranslations(pageLang);
---

<ListTitle>{t("header.language")}</ListTitle>
<ul class="absolute-center flex-col-center gap-6">
	{
		supportedLanguages.map((lang) => (
			<li class="motion-safe:transition-transform">
				<a
					class:list={[
						"animated-underline animated-underline-right font-light",
						pageLang === lang && "before:important:scale-x-100",
					]}
					href={getTargetLangUrl(Astro.url, lang)}
				>
					{languages[lang]}
				</a>
			</li>
		))
	}
</ul>
