---
import noise from "@assets/Grainy 5 LOW - 256x256.jpg";
const backgroundImage = `url(${noise.src})`;
---

<div class="-z-100 fixed inset-0 bg-primary-50"></div>

<div
	style={{ "background-image": backgroundImage, "background-size": "150px" }}
	class="z-100 fixed inset-0 pointer-events-none mix-blend-multiply opacity-10 animate-shake"
>
</div>
<div
	style={{ "background-image": backgroundImage, "background-size": "150px" }}
	class="z-100 fixed inset-0 pointer-events-none mix-blend-screen opacity-10 animate-shake"
>
</div>
