<div
	class="-z-100 fixed inset-0 from-primary-950 to-accent-950"
	bg-gradient="linear to-br"
>
</div>
<div
	class="z-100 fixed inset-0 layer-noise mix-blend-screen pointer-events-none"
>
</div>
<div
	class="z-100 fixed inset-0 layer-noise bg-black mix-blend-multiply brightness-700 opacity-20 pointer-events-none"
>
</div>
