<div class="-z-100 fixed inset-0 bg-primary-50"></div>

<div
	class="z-100 fixed inset-0 bg-noise pointer-events-none mix-blend-multiply opacity-16 animate-shake"
>
</div>
<div
	class="z-100 fixed inset-0 bg-noise pointer-events-none mix-blend-screen opacity-12 animate-shake"
>
</div>
