---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
	visualType?: "dash" | "simple";
}

const {
	visualType = "simple",
	type = "submit",
	class: className,
	...rest
} = Astro.props;
---

<button
	class:list={[
		"button p-4 relative mix-blend-screen",
		visualType === "dash" && "btn-dash dash-accent-300 bg-accent-950",
		visualType === "simple" &&
			"color-accent-300 bg-accent-950 hover:(bg-accent-800)",
		className,
	]}
	{...rest}
>
	<slot>LOREM IPSUM NIHIL NOVI</slot>
</button>
