---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
	visualType?: "dash" | "simple";
}

const { visualType = "simple", class: className, ...rest } = Astro.props;
---

<button
	class:list={[
		"button rounded p-4 relative outline-offset-4 transition-interactive opacity-95  bg-accent-50 text-primary-950 mix-blend-luminosity",
		visualType === "dash" && "btn-dash dash-accent-950",
		visualType === "simple" && "color-accent-300 hover:(bg-accent-200)",
		className,
	]}
	{...rest}
>
	<slot>LOREM IPSUM NIHIL NOVI</slot>
</button>
