---
import type { Polymorphic } from "astro/types";
type Props<T extends "p" | "li"> = Polymorphic<{ as: T }> & {
	color?: string;
	bg?: string;
	style?: Record<string, any>;
};

const {
	as: Tag,
	color,
	bg: background,
	class: className = "text-body px-2 py-1",
	style = {},
	...other
} = Astro.props;

const isWhiteText = color === "white";
---

<Tag
	class:list={[
		"rounded font-normal",
		isWhiteText && "text-shadow text-shadow-color-black",
		className,
	]}
	style={{
		background,
		color,
		...style,
	}}
	{...other}
>
	{
		Tag === "p" ? (
			<strong>
				<slot />
			</strong>
		) : (
			<p>
				<strong>
					<slot />
				</strong>
			</p>
		)
	}
</Tag>
