---
import type { HTMLTag, Polymorphic } from "astro/types";
type Props<T extends HTMLTag> = Polymorphic<{ as: T }> & {
	color?: string;
	bg?: string;
	style?: Record<string, any>;
};

const {
	as: Tag = "div",
	color='',
	bg: background='',
	class: className = "text-body",
	style = {},
	...other
} = Astro.props;

const isWhiteText = color === "white";
---

<Tag
	class:list={[
		"rounded font-normal px-2 py-1",
		isWhiteText && "text-shadow text-shadow-color-black",
		className,
	]}
	style={{
		background,
		color,
		...style,
	}}
	{...other}
>
	{
		["p","a"].includes(Tag) ? (
			<strong>
				<slot />
			</strong>
		) : (
			<p>
				<strong>
					<slot />
				</strong>
			</p>
		)
	}
</Tag>
