---
import Button from "./Button.astro";
import Input from "./Input/Input.astro";
import TextArea from "./Input/TextArea.astro";
---

<footer
	class="footer bg-primary-950 gap-24 p-16 grid text-primary-50 snap-center op-98"
>
	<section class="flex md:justify-end">LOREM IPSUM</section>
	<section class="flex flex-col gap-4 max-w-xl">
		<Input id="footer-name" label="name" />
		<Input id="footer-email" label="email" type="email" />
		<TextArea id="footer-message" label="message" />
		<Button type="submit" visualType="outline">Submit</Button>
	</section>
</footer>

<style>
	@media (width > 756px) {
		.footer {
			grid-template-columns: 1fr 1fr;
		}
	}
</style>
