---
import SocialLinks from "./SocialLinks.astro";
import Copyright from "./Copyright.astro";
---

<footer
	class="flex justify-between items-center w-full bg-primary-950 px-8 py-2 op-98 z-100"
>
	<nav class="menu-opafocus flex gap-8 lg:gap-2"><SocialLinks small /></nav>
	<Copyright />
</footer>
