---
import Button from "./Button.astro";
import Input from "./Input/Input.astro";
import TextArea from "./Input/TextArea.astro";
---

<footer
	class="footer bg-primary-950 gap-24 p-16 mix-blend-screen grid text-primary-300 snap-center"
>
	<section class="flex md:(justify-end)">LOREM IPSUM</section>
	<section flex="~ col" class="gap-4 max-w-xl">
		<Input id="footer-name" label="name" />
		<Input id="footer-email" label="email" type="email" />
		<TextArea id="footer-message" label="message" />
		<Button
			visualType="dash"
			type="submit"
			class="dash-both dash-accent-600 text-accent-300"
		>
			Submit
		</Button>
	</section>
</footer>

<style>
	@media (width > 756px) {
		.footer {
			grid-template-columns: 1fr 1fr;
		}
	}
</style>
