---
import SocialLinks from "./SocialLinks.astro";
import Copyright from "./Copyright.astro";

---
<div class="relative h-120 bleed bleed-primary-950 -z-4 -my-px"></div>
<footer
	class="flex justify-between items-center bg-primary-950 px-8 py-4 op-98"
>
		<nav class="menu-opafocus flex"><SocialLinks /></nav>
	<Copyright/>
</footer>


