---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"span"> & {
	iconClass: string;
};
const { iconClass, ...other } = Astro.props;
---

<div {...other}>
	<div class={iconClass}></div>
	<slot />
</div>
