---
import { Image } from "@astrojs/image/components";
import type { HTMLAttributes } from "astro/types";
import type { ImageSrc } from "src/utilTypes/image";

type Attributes = HTMLAttributes<"div"> & { [k in `data-${string}`]: unknown };

interface Props extends Attributes {
	images: [ImageSrc, string][];
	imageProps?: Attributes;
}

const {
	class: className,
	images,
	imageProps: { class: imageClass, ...otherImageProps } = {},
	...other
} = Astro.props;
---

<div class:list={["flex flex-col max-w-max", className]} {...other}>
	{
		images.map(([src,alt], i) => {
			return (
				<div
					class:list={[
						"rounded-2 overflow-hidden aspect-3/2 w-max max-w-full max-w-full",
						i % 2 === 0 && "self-end",
						imageClass,
					]}
					{...otherImageProps}
				>
					<Image  src={src} alt={alt || ""} width={1000} aspectRatio={3/2} />
				</div>
			);
		})
	}
</div>
