---
import Accordion from "./Accordion/Accordion.astro";
---

<section class="section items-center">
	<Accordion />
	<!-- <button
				class="relative aspect-card-rotated w-xl overflow-hidden bg-transparent p-8 rounded-4"
				border="accent-900 2"
			>
				<div
					class="motion-safe:transition-opacity motion-safe:duration-200 ease-out opacity-20 hover:opacity-100 focus-visible:opacity-100"
				>
					<div class="absolute inset-0 backdrop-blur-sm -z-1">
						<Image
							src="/src/assets/WorldWar3.jpg"
							width={36 * 16}
							height={(16 * 36) / (88 / 63)}
							alt="World War 3 image"
							fit="cover"
						/>
					</div>
					<h3 font-extrabold text-lg>World War 3</h3>
				</div>
			</button> -->
</section>
