---
import seo from "@utils/seo";
---

<meta name="author" content="Marcin Smarzewski" />
<meta name="description" content={seo.description} />
<title>{seo.title}</title>
<link rel="icon" type="image/svg+xml" href="/svg/fox.svg" />
