---
import type { ButtonProps } from "@/components/Button/types";
import Button from "@components/Button/Button.astro";
import type { HTMLTag } from "astro/types";

const icons = {
	burger: "i-mingcute-menu-line?mask",
	locales: "i-heroicons-language",
};

type Props<T extends HTMLTag> = ButtonProps<T> & {
	dialogId: string;
	icon?: keyof typeof icons;
	label?: string;
};

const { dialogId, icon, label, ...other } = Astro.props;
---

<Button
	class="flex justify-end items-center gap-2 max-w-8 motion-safe:transition-max-width-600 important:ease-out hover:(text-accent-200 max-w-27) focus-visible:(text-accent-200 max-w-27)"
	visualType="outline"
	size="small"
	title={label}
	aria-expanded="false"
	targetSelector={`#${dialogId}`}
	targetClassToggle="important:clip-circle-top-right-full"
	closeType="any-click"
	{...other}
>
	{
		label && (
			<p class="flex items-center overflow-hidden">
				{label}
			</p>
		)
	}
	{icon && <div class:list={["flex-shrink-0",icons[icon as keyof typeof icons]]} />}
</Button>
