---
import Header from "../components/Header.astro";
import SEO from "../components/SEO.astro";
import "@unocss/reset/tailwind-compat.css";
import Background from "@components/Background.astro";
import LerpScrolling from "@components/LerpScrolling.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style is:global>
			:where(button) {
				background-color: transparent;
			}
		</style>
		<SEO />
	</head>
	<body
		class="theme-default text-primary-950 font-sans overflow-y-auto overflow-x-hidden"
	>
		<LerpScrolling />
		<Background />
		<Header />
		<main data-taxi>
			<slot />
		</main>
	</body>
</html>
