---
import SEO from "../components/SEO.astro";
import "@unocss/reset/tailwind-compat.css";
import Background from "@components/Background.astro";
import Tooltip from "@components/Tooltip/Tooltip.astro";
import Plugins from "@plugins/Plugins.astro";
import type { TabsProps } from "@components/Tabs/Tabs.astro";
import Tabs from "@components/Tabs/Tabs.astro";
import { mainpageTabs } from "src/constants";

type Props = TabsProps;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style is:global lang="scss">
			:where(button) {
				background-color: transparent;
			}
			/* ===== Scrollbar CSS ===== */
			$thumb-color: theme("colors.accent.300");
			$track-color: theme("colors.primary.950");
			/* Firefox */
			* {
				scrollbar-width: thin;
				scrollbar-color: $thumb-color $track-color;
			}

			/* Chrome, Edge, and Safari */
			*::-webkit-scrollbar {
				width: 12px;
			}

			*::-webkit-scrollbar-track {
				background: $track-color;
			}

			*::-webkit-scrollbar-thumb {
				background-color: $thumb-color;
				border-radius: 12px;
				border: 2px solid $track-color;
			}
		</style>
		<SEO />
		<Plugins />
	</head>
	<body
		class="theme-default text-primary-950 font-sans overflow-y-auto overflow-x-hidden drop-shadow-color-black drop-shadow-color-opacity-50"
	>
		<Background />
		<Tabs tabs={mainpageTabs} />
		<Tooltip />
		<main data-taxi>
			<slot />
		</main>
	</body>
</html>
