---
import SVGFilters from "@components/SVGFilters.astro";
import Header from "../components/Header.astro";
import SEO from "../components/SEO.astro";
import "@unocss/reset/tailwind-compat.css";
import Background from "@components/Background.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style is:global>
			:where(button) {
				background-color: transparent;
			}
		</style>
		<SEO />
	</head>
	<body theme-default font-sans text-primary-950>
		<SVGFilters />
		<Background />
		<Header />
		<main data-taxi>
			<slot />
		</main>
	</body>
</html>
