---
import SEO from "../components/SEO.astro";
import "@unocss/reset/tailwind-compat.css";
import Background from "@components/Background.astro";
import Tooltip from "@components/Tooltip/Tooltip.astro";
import Plugins from "@plugins/Plugins.astro";
import type { HeaderProps } from "@components/Header/Header.astro";
import Header from "@components/Header/Header.astro";
import { mainpageTabs } from "src/constants";
import { ViewTransitions } from "astro:transitions";

type Props = HeaderProps;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<ViewTransitions />
		<!-- Google tag (gtag.js) -->
		<script
			src="https://www.googletagmanager.com/gtag/js?id=G-317175ZQN9"
			type="text/partytown"></script>

		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				// eslint-disable-next-line no-undef
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-317175ZQN9");
		</script>

		<script>
			import "@/polyfills";
		</script>

		<style is:global lang="scss">
			:where(button) {
				background-color: transparent;
			}
			/* ===== Scrollbar CSS ===== */
			$thumb-color: theme("colors.accent.300");
			$track-color: theme("colors.primary.800");
			/* Firefox */
			* {
				scrollbar-width: thin;
				scrollbar-color: $thumb-color $track-color;
			}

			/* Chrome, Edge, and Safari */
			*::-webkit-scrollbar {
				width: 12px;
			}

			*::-webkit-scrollbar-track {
				background: $track-color;
			}

			*::-webkit-scrollbar-thumb {
				background-color: $thumb-color;
				border-radius: 12px;
				border: 2px solid $track-color;
			}
		</style>
		<SEO />
		<Plugins />
	</head>
	<body
		class="theme-default text-primary-800 font-sans overflow-y-auto overflow-x-hidden drop-shadow-color-black drop-shadow-color-opacity-50"
	>
		<Background />
		<Header tabs={mainpageTabs} />
		<Tooltip />
		<main data-taxi class="relative">
			<slot />
		</main>
	</body>
</html>
