---
import Header from "../components/Header.astro";
import SEO from "../components/SEO.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script type="module" src="/app.js"></script>
		<SEO />
	</head>
	<body>
		<Header />
		<main id="swup">
			<slot />
		</main>
	</body>
</html>
