name: Deploy prod
on: [push]
jobs:
  tests-chrome:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      # https://github.com/cypress-io/github-action
      - name: Cypress run (Chrome)
        uses: cypress-io/github-action@v6
        with:
          # check the spec types
          build: npm run lint
          # start the application before running Cypress
          start: npm run start-quiet
          browser: chrome

  tests-firefox:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      # https://github.com/cypress-io/github-action
      - name: Cypress run (Firefox)
        uses: cypress-io/github-action@v6
        with:
          # check the spec types
          build: npm run lint
          # start the application before running Cypress
          start: npm run start-quiet
          browser: firefox
          # cy.dblclick did not work in headless FF mode
          headed: true

  tests-webkit:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      # https://github.com/cypress-io/github-action
      - name: Install dependencies
        uses: cypress-io/github-action@v6
        with:
          # install WebKit browser dependencies
          build: npx playwright install-deps webkit
          runTests: false

      - name: Cypress run (WebKit)
        uses: cypress-io/github-action@v6
        with:
          # we have already installed everything
          install: false
          # check the spec types
          build: npm run lint
          # start the application before running Cypress
          start: npm run start-quiet
          browser: webkit
      
  deploy:
    name: Deploy
    runs-on: ubuntu-22.04
    needs: [tests-chrome, tests-firefox, tests-webkit]
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8

      # install a specific version of Node using
      # https://github.com/actions/setup-node
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Download the build folder
        uses: actions/download-artifact@v3
        with:
          name: build
          path: dist

      - name: Deploy
        run: npm run deploy:prod
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}